@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,350,300,300italic,200,400italic,600,600italic,700italic,700,800italic,800);
@import url(https://fonts.googleapis.com/css?family=Helvetica:400,300,200,100,700);
@import url(https://fonts.googleapis.com/css?family=Arial:400,300,200,100,700);
@import url(https://fonts.googleapis.com/css?family=Rokkitt:300,400,500,600,700);

body {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Open sans", "Helvetica", "Arial", "Rokkitt";

}

.container {
	width: 100%; 
	margin: 0 auto;
}



.container:after {
  display: block;
  height: 0;
  float: none;
  clear:both;
}

header {
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 200;
  background: transparent;
  color: inherit;
  transition:350ms ease all;
}

body.scrolled header {
  color: #28245F;
  background: white;
  text-shadow:0 0 0 rgba(0,0,0,0);
  border-top-width: 0;
}

header .main-menu {
  float:right;
}

header nav ul {
  list-style:none;
}

header nav ul li {
  float:left;
  position: relative;
}

header nav ul li a {
  display:block;
  padding:15px;
  margin-top:7px;
  margin-bottom: 15px;
  margin-left: 15px;
  color:inherit;
  text-decoration:none;
  text-transform:uppercase;
  font-weight:100;
  font-size: 11px;
  font-family: "Helvetica";
}
 
header nav ul ul {
  position: absolute;
  left: 0;
  top:85px;
  width: 200px;
  display:none;
}

header nav ul li:hover ul {
  display: block;
}

header nav ul ul li {
  float: none;
}

header nav ul ul li a {
  margin-top: 0;
}

.top-section {
  height:100vh;
  background-image:url('../images/background.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.name {
  background: transparent;
  font-family: "Helvetica";
  padding: 20px;
  font-weight: 300;
  font-size: 20px;
  position: absolute;
  width: 33%;
  height: 200px;
  border: 1px;
  left:50%;
  top:40%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);

  transition:350ms ease all;
}

.top-section .name .line1 {
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 35px;
	position: relative;
	color: grey;
  text-align: center;
}

.top-section .name .line2 {
	font-family: "Rokkitt";
	font-weight: 500;
	font-size: 65px;
	position: relative;
	color: black;
  text-align: center;
}

.aboutme {
	position: relative;
}

.img {
  height: 350px;
  border-radius: 50%;
  margin-top: 50px;
  margin-left: 50px;
}

.aboutme .container figure {
    position: absolute;
    
}

.aboutme .container h3 {
	float: right;
	margin-top: 100px;
	padding: 10px;
	font-family: "Rokkitt";
	font-weight: 400;
	font-size: 18px;
}
   
#experience {
   padding-top: 50px;
}
#projects {
   padding-top: 50px;
}
#contact {
   margin-top: 150px;
}
